*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.box-title{
    width:400px;
    height: 200px;
    background-color: aqua;
    padding:50px 60px;
    text-align: center;
    border:2px solid grey;
    /* border-width: 4px;
    border-color: aquamarine; */
    margin:50px auto;
    display:inline-block
}
.box-title2{
    width:400px;
    height: 200px;
    background-color: aqua;
    padding:50px 60px;
    text-align: center;
    border:2px solid grey;
    /* border-width: 4px;
    border-color: aquamarine; */
    margin:50px auto;
    display:inline-block;
    opacity:0.5;
    /* display: none; */
}
a.google{
    display:block;
}